<p>Hello {{username}},</p>
<p>Please click below to confirm your email</p>

<a href='{{url}}' style='cursor: pointer;'>
  Confirm
</a>

<p>If you did not request this email you can safely ignore it.</p>